body {
    background-color: red;
    text-align: center;
}

h1 {
    font-size: 28px;
    margin: 20px;
}

p {
    border: 1px solid red;
    padding: 20px;
    margin: 30px auto;
    width: 50%;
    font-weight: 18px;
}